body{
	margin:0px;
	background-image:linear-gradient(to top,#0C1027,#0C1029)
}


/*header*/

#ninja-music-logo div img{
	height:60px;
	width:80px;
	border-radius:50%;
	margin-left:5px;

	display:inline-block;
	
}

#ninja-music-logo {
	color:white;
	font-family:monospace;
	display:flex;
	margin-top:50px;

}

#ninja-music-logo div{
	display:inline-block;
}

#logo,#logo-name{
	margin-left:2%;
}


#logo-for-mobileDevice{
	display:none;
}



#logo-x{
	animation:rotate 1s ease-in-out infinite;
}


#logo-y{
	animation :rotate 1s ease-in-out infinite;
}


@keyframes rotate{
	from{
		transform:rotate(0deg);
	}

	to{
		transform:rotate(360deg);
	}
}

#favourites a{

	text-decoration: none;
	color:white;
	font-size:1.2rem;

}

#favourites{

	margin-left:11%;
}

#search-bar input,#search-bar button{
	background: transparent;
	font-size:1.2rem;
	border-radius:10%;
	outline:none;
	border:none;
	background-color:#0B0B45;
	color:white;

}

#search-bar{
	margin-left:26%;

}

#notifications{
	margin-left:12%;
}

#notifications a{
	color:white;
}


#profile img{
	border-radius:50%;
}

#profile{
	margin-top : -6px !important;
	margin-left:3%;
}


/*main*/
main{
	width:65%;
}

/*current album*/

#play-album-template{
	
	margin-left:9%;
	border-radius:5%;
	margin-top:5%;
	display:flex;
}

#coldplay-image img{
	height:40vh;
	width:20vw;

}

#description h2{
	margin-left:9%;
}
.text{
	color:white;
	font-size:1rem;
	margin-left:8%;
	overflow-wrap:break-word;
}

#play-album-container{
	display:flex;
}

#play-album{
	background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,104,13,1) 30%, rgba(83,121,9,1) 35%, rgba(0,212,255,1) 100%);
	margin-left:9%;
	width:8vw;
	font-size:2rem;
}

#play-album a{
	text-decoration: none;
}

#follow a{
	text-decoration: none;
}

#follow{
	margin-left:10px;
}

/*songs*/

#songs{
	display:flex;
	flex-direction: column;
}
.songs-background{
	background-color:#1A1E33;
	height:38px;

}

.number{
	position:relative;
	top:-10px;
}


.heart-add-icon{
	margin-left:30vw;
	position:relative;
	top:-20px;
}

.heart-add-icon i{
	margin-left:10vw;
	color:grey;
}

.heart-add-icon i:hover{
	color : white;
}

.song-wallpaper{
	width:30px;
	height:30px;
	margin-left:5px;
}

.song-name span{
	padding:5px;
}

.margin{
	margin-left:9%;
	margin-top:1vh;
}


/*aside*/

aside{
	width:25%;
	vertical-align: top;
	margin-left:5%;
}

.similar-artists{
	margin-bottom:10px;
}
.similar-artists img,.similar-artists div{
	display:inline-block;
	vertical-align: top;
	margin-left:5px;
}

.similar-artists img{
	width:100px;
	height:91px;
}


.recently-played{
	margin-bottom: 7px;
}

.heart-add-icon2{
	margin-left:15vw;
	position:relative;
	top:-20px;
	color:grey;
}

.heart-add-icon2 i:hover{
	color:white;
}




.color-white{
	color:white;
}

.background-color{
	background-color:#141B41;
}

.inline-block{
	display:inline-block;
}


/*music player*/

#music-player {
	position:sticky;
	background-color:grey;
	height:auto;
	
	bottom:0%;
}

#music-player section{

	display:flex;
	align-items: center;
	flex-wrap:wrap;

}

#music-player section img{
	height:50px;
	width:50px;
}

#music-player section i{
	font-size:3vh;
	color:white;
	margin:10px;
	cursor:pointer;
}

#music-player section i:nth-child(4){

	margin-left :30%;


}

#music-player section i:nth-last-child(2){
    
	margin-left :30%;


}

#vol-icon{
	position:relative;
	right:-13%;
	margin-left:0%;
}


#volume-container{
	
	width:6vw;
	height:1vw;
	position:relative;
	right:-12.9%;
	background-color:black;
	border-radius:14vw;
	cursor:pointer;
}

#volume{
	height:100%;
	width:75%;
	background-color:cyan;
	border-bottom-left-radius: 14vw;
	border-top-left-radius: 14vw;

}

#volume:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 0%;
    right:15%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}


#play-bar-container{

	width:18vw;
	height:0.5vw;
	background-color:white;
	border-radius:14vw;
	cursor:pointer;

	margin-left:37vw;
	margin-bottom:10px;
}

#play-bar{
	height:100%;
	width:40%;
	background-color: cyan;
	border-bottom-left-radius: 14vw;
	border-top-left-radius: 14vw;


}






@media screen and (max-width: 600px){

	#ninja-music-logo{
		display:none;
	}
	#logo-for-mobileDevice{
		display:block;
	}
	
	.heart-add-icon2{
		display:none;
	}

	#volume:nth-child(1)::after {
	    content: '';
	    position: absolute;
	    top: 0%;
	    right:15%;
	    height: 5px;
	    width: 5px;
	    border-radius: 50%;
	    background-color: white;
	    z-index: 1;
	}

}












